.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  font-family: "Nunito Sans", serif;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
  color: rgba(253, 253, 253, 0.6);

  text-align: center;

  > p {
    text-align: center;
  }
}
