
/* Login components */

.loginInput {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* email factor components */
.forgotPassword {
}

.errorMessage {
    min-height: 1.2rem;
    height: 1.2rem;
    padding: 4px 0;
    color: red;
    > p {
        margin: 0;
    }
}

.otpFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.otp {
    display: grid;
    --length: 6;

    > * {
        --spacing: 0.25em;
        appearance: none;
        background: transparent;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: content-box;
        color: white;
        font: inherit;
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        font-size: clamp(1em, calc(14em / var(--length)), 3em);
        grid-column: 1;
        grid-row: 1;
        inline-size: calc((1ch + var(--spacing)) * var(--length) + var(--spacing));
        letter-spacing: var(--spacing);
        padding: var(--spacing) calc(0.5lh - 0.5em + var(--spacing));
        padding-inline-end: 0;
        text-align: left;
    }

    > input {
        &:focus {
            background-color: hsl(0 0% 0% / 0.2);
            outline: 1px solid;
        }
    }

    > div {
        border-color: transparent;
        opacity: 0.5;
        pointer-events: none;
        translate: 0 calc(0.25lh - 0.25em);
        white-space: pre;
    }
}


.submitButton {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.submitButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
