.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 1rem;
  }

  input {
    width: 80%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

.forgotPassword {
  color: white;
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 4px;
  font-size: 12px;
  font-family: "Nunito Sans", serif;
  font-weight: 700;
}

.codeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  position: relative;
  color: black;
}

.hiddenInput {
    position: absolute;
    opacity: 0;
    pointer-events: auto;
    left: 0;
    top: 0;
}

.digitBox {
  color: black;
  width: 32px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  cursor: text;
  transition: border 0.2s;
  box-sizing: border-box;
  user-select: none;
}
.digitBoxActive {
  border: 2px solid #00a0e3;
}
.digitBoxInactive {
  border: 1px solid #ccc;
}

.errorMessage {
  min-height: 1.2rem;
  height: 1.2rem;
  padding: 4px 0;
  color: red;
  > p {
    margin: 0;
  }
}
