.forgotPassword {
}

.codeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: auto;
  left: 0;
  top: 0;
}

.digitBox {
  color: black;
  width: 32px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  cursor: text;
  transition: border 0.2s;
  box-sizing: border-box;
  user-select: none;
}
.digitBoxActive {
  border: 2px solid #00a0e3;
}
.digitBoxInactive {
  border: 1px solid #ccc;
}

.errorMessage {
  min-height: 1.2rem;
  height: 1.2rem;
  padding: 4px 0;
  color: red;
  > p {
    margin: 0;
  }
}
